[submodule "pcb/keyswitch-kicad-library"]
	path = pcb/keyswitch-kicad-library
	url = https://github.com/kaine119/keyswitch-kicad-library
[submodule "pcb/OPL_Kicad_Library"]
	path = pcb/OPL_Kicad_Library
	url = https://github.com/Seeed-Studio/OPL_Kicad_Library.git
